NODE_ENV=development
BACKEND_PROTOCOL=http
BACKEND_HOST=localhost
BACKEND_PORT=3001

DATABASE_NAME="exd_users"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT=3306
DATABASE_USERNAME="root" 
DATABASE_PASSWORD="password" 
